.env
.venv/
database/
src/archive/
src/tutorials
# src/01_cannondale_bikes_assistant/png/

# Allow PNG screenshots for README
!src/cannondale_bikes_assistant/png/*.png
src/01_cannondale_bikes_assistant/feedback/





